.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
}

.right .title {
  color: var(--red);
  font-size: 50px;
  margin: 0 0 20px 0;
  font-family: serif;
}

.right__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}



@media (min-width:270px) { 
  /* smartphones, portrait very small */
  .right {
    padding-top: 40px;
  }

  .right .title {
    font-size: 30px;
  }

  .right__container {
    width: 35%;
  }
}

@media (min-width:320px) { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .right {
    padding-top: 40px;
  }

  .right .title {
    font-size: 35px;
  }

  .right__container {
    width: 40%;
  }
}

@media (min-width:480px) { 
  /* smartphones, Android phones, landscape iPhone */ 
  .right {
    padding-top: 40px;
  }

  .right__container {
    width: 60%;
  }
}

@media (min-width:600px) { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .right__container {
    width: 66%;
  }
}

@media (min-width:801px) { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .right {
    justify-content: flex-start;
    padding-top: 2rem;
    min-height: 60vh;
  }

  .right .title {
    font-size: 40px;
    margin: 15px 0 10px 0;
  }

  .right__container {
    width: 60%;
  }

  .social_link a img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
}

@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
}
