.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right .title {
  color: var(--red);
  font-size: 50px;
  margin: 0 0 40px 0;
  font-family: serif;
}

.right__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.social_link {
  display: block;
  margin: 15px;
  padding: 5px;
  border-radius: 30px;
  border: 2px dashed var(--white_alt);
}

.social_link :hover {
  transform: scale(1.4);
  transform-origin: center;
  transition-duration: 500ms;
  transform-style: flat;
}

.social_link a img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}


@media(max-width: 768px) {
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .right .title {
    font-size: 28px;
    margin: 15px 0 10px 0;
  }

  .right__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .social_link a img {
    width: 100px;
    height: 100px;
  }
}